{% extends 'base.html' %}
{% block bodyStyle %}{% endblock %}

{% block nav_item_home %}active{% endblock %}

{% block content %}
    <div class="container" style="text-align: center;">
        <div class="row">
            <div class="col">
                <h1 style="text-align: left;">{{user.username}}'s profile</h1>
            </div>
            <div class="col" style="text-align: right;width: 379px;">
<form action={{url_for('home.profile',username=user.username)}}>
		<button class="btn btn-primary" type="submit" style="text-align: right;">Cancel</button></div>
		</form>
        </div>
	<form method="post">
        <div class="row">
            <div class="col" style="text-align: center;">
                <p>Native Language:</p>
                <select name="new_native_lang" class="form-select w-auto mx-auto" aria-label=".form-select-sm">
                <option value="English">English</option>
                <option value="Japanese">Japanese</option>
                <option value="German">German</option>
                <option value="French">French</option>
                <option value="Spanish">Spanish</option>
            </select>
                <div class="row">
                    <div class="col">
                        <p></p>
                    </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center;">
                <p style="text-align: center;">Secondary Languages:&nbsp;</p>
		<select name="new_languages" class="form-select w-auto mx-auto" aria-label=".form-select-sm" multiple>
                <option value="English">English</option>
                <option value="Japanese">Japanese</option>
                <option value="German">German</option>
                <option value="French">French</option>
                <option value="Spanish">Spanish</option>
            </select>
                <div class="row">
                    <div class="col">
                        <p></p>
                    </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col"><button class="btn btn-primary" type="submit">Save changes</button></div>
        </div>
	</form>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
{% endblock%}