{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="native_lang">Select your native language</label>
    <select name="native_lang">
      <option value="English">English</option>
      <option value="Japanese">Japanese</option>
      <option value="German">German</option>
      <option value="French">French</option>
      <option value="Spanish">Spanish</option>  
  </select>
    <label for="language">Select the language you'd like to learn</label>
    <select name="language">
      <option value="English">English</option>
      <option value="Japanese">Japanese</option>
      <option value="German">German</option>
      <option value="French">French</option>
      <option value="Spanish">Spanish</option>  
  </select>  
    <input type="submit" value="Register">

  </form>
{% endblock %}