<!DOCTYPE html>
<html>
<head>
  <title>P2P Text Chat</title>
  <meta charset="UTF-8"/>
  <link href="../static/style.css" rel="stylesheet">
</head>

<h1>Your Conversation with </h1>
<body>
  <div class="scrollBox" id="messages"></div>
  <br><br>
  <div>
      <form action="/channel" method="POST">
        <label for="message">Message:</label>
        <input type="text" id="message" name="message"><br><br>
        <input type="button" value="send" onclick="sendMessage();">
      </form>
  </div>
  <script type="text/javascript">
    function sendMessage(){
      var message = document.getElementById("message").value;
      var username = document.getElementById("username").value;
      document.getElementById("messages").innerHTML += username + ": " + message + "<br>";
    }
  </script>
</body>
