<!DOCTYPE html>
<html>
<head>
  <title>P2P Text Chat Landing Page</title>
  <meta charset="UTF-8"/>
  <link href="../static/style.css" rel="stylesheet">
</head>

<h1>Basic Text Chat</h1>
<body>
  <div>
    <form action="/msg" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="target">Target User:</label>
      <input type="text" id="target" name="target"><br><br>
      <select name="language">
        <option value="French">French</option>
        <option value="English">English</option>
        <option value="German">German</option>
        <option value="Japanese">Japanese</option>
        <option value="Spanish">Spanish</option>
      </select>
      <input type="submit" value="Submit">
    </form>
</body>
</html>
