<!DOCTYPE html>
<html>
<head>
  <title>P2P Text Chat</title>
  <meta charset="UTF-8"/>
  <link href="../../static/style.css" rel="stylesheet">
</head>

<!--Establish Socketio connection MOVE TO HEADER????/DRAWN IN FILE????-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" src="../../static/js/adapter.js"></script>
<script type="text/javascript" charset="utf-8">
  // Set up variables based on sent parameters
    var username = "{{user}}"
    var target = "{{target}}"
    var room_ID = "{{user_room}}"
    var initiator = {{identity}} //True = Initiator, False = Reciever
    var socket = io();
</script>

<h1>Your Conversation with {{target}}</h1>
<body>
  <div class="scrollBox" id="text_chat"></div>
  <br><br>
  <div>
      <label for="message">Message:</label>
      <input type="text" id="message" name="message" disabled>
      <button id="send" onclick="sendMessage();" disabled>Send</button><br><br>
      <button id="disconnect">Disconnect</button>
  </div>

<!--Javascript Functionality (ORDER MATTERS)-->

<script type="text/javascript" src="../../static/js/messaging.js"></script>
<script type="text/javascript" charset="utf-8">
// Socket Listeners
  socket.on('connect', function() {
      socket.emit('FirstConnect', {info: 'I\'m connected!'});
      socket.emit('join', {room: (room_ID)})
      makeCall();
  });
  socket.on('RJMessage', function(str){
    console.log(str);
  });
</script>

  <script type="text/javascript">
    function displayRecievedMessage(message){
      document.getElementById("text_chat").innerHTML += target + ": " + message + "<br>";
    }


  </script>
  <script type="text/javascript">
    // Sends message if user presses 'enter' instead of 'send' button
    var input = document.getElementById("message");
    input.addEventListener("keydown", function(e){
      if (e.key === "Enter"){
        sendMessage();
      }
    })
  </script>
</body>
