{% extends 'base.html' %}
{% block content %}
<!--Setup (Socketio, adapter, and variables) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
  // Set up variables
    var room_ID = null;
    var language = "{{language}}";
    var fluency = {{fluency}};
    var socket = io();
    var connectedCount = 0;
</script>


<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col">
            <h1>Searching for a match...</h1>
        </div>
    </div>
    <div class="row">
        <div class="col"><span class="spinner-border spinner-border-sm" role="status" style="height: 42px;width: 42px;color: rgb(0,128,255);"></span></div>
    </div>
</div>


<!--Javascript Functionality (ORDER MATTERS)-->
<script type="text/javascript" charset="utf-8">
// Socket Listeners
  socket.on('connect', function() {
      socket.emit('beginMatch', {language: (language), fluency: (fluency)});
  });

  socket.on('finishedMatching', function(data){
    room_ID = data['roomId'];
    socket.emit('registerExistence');
    socket.emit('joinCallRoom', {room: (room_ID)});
  });

 // Listeners to ensure connection sequence does not start until both on webpage
  socket.on('maybeStart', function(){
    console.log("Maybe Starting");
    if(connectedCount){
      console.log("Giving Go-ahead");
      socket.emit('transfer', {room:(room_ID)});
    }
    else{
      connectedCount++;
    }
  });


  // Other listeners:
  socket.on('transferPage', (dest) =>{
    socket.emit("cleanExistence");
    window.setTimeout(leavePage, 5000, dest); //Delay five seconds to avoid race condition possibility
  });

  function leavePage(dest){ //Redirect
    window.location.replace(dest);
  }
</script>
</body>
{% endblock%}
