{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="text-align: center;">Language/Skill select</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 style="text-align: center;font-size: 26px;">Skill level guidelines:</h1>
            <div class="row">
                <div class="col">
                    <p style="text-align: left; font-size: 18px;">Level 0 - Your knowledge of the language is nonexistent or limited to only a few words.<br>Level 1 - You can structure basic sentences and use some common questions and answers.<br>Level 2 - You are able to have limited conversations and understand basic commands.<br>Level 3 - You understand the language well enough to have detailed conversations but may still have difficulty speaking it out loud or using advanced terminology.<br>Level 4 - You can have full conversations at an advanced level and have a firm understanding of the language. You may still have occasional misunderstandings and make mistakes especially when speaking it out loud.<br>Level 5 - You are fluent in the language. You were either raised speaking the language or have spoken it long enough to become completely proficient and have advanced conversations with very few mistakes or misunderstandings.</p>
                    <p style="text-align: center; font-size: 16px;">Once you click the button to request a call you will be placed in a queue and redirected to a loading screen while you wait to be matched up with another user.</p>
                    <p style="text-align: center; font-size: 15px;">If you select a language you have registered on your profile, your proficency will be automatically pulled and need not be declared</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <form method="POST">
        <select id="language" name="language">
          <option value="French" selected>French</option>
          <option value="English">English</option>
          <option value="German">German</option>
          <option value="Japanese">Japanese</option>
          <option value="Spanish">Spanish</option>
        </select>
        <select id="skill" name="skillLevel">
          <option value=0>Level 0</option>
          <option value=1 selected>Level 1</option>
          <option value=2>Level 2</option>
          <option value=3>Level 3</option>
          <option value=4>Level 4</option>
          <option value=5>Level 5</option>
        </select>
        <input type="submit" value="Request video call">
      </form>
    </div>
</div>
{% if secondLanguage %} <!-- Safety check just in case -->
<script type="text/javascript">
    //Code to set default selected values for forms
    document.querySelector('select#language').value = "{{secondLanguage.language}}";
    document.querySelector('select#skill').value = "{{secondLanguage.fluency}}";
</script>
{% endif %}
{% endblock%}
