{% extends 'base.html' %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="text-align: center;">Language/Skill select</h1>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: right;"><label class="col-form-label">Select a language:&nbsp;</label></div>
        <div class="col" style="text-align: left;">
            <div class="dropdown" style="text-align: left;"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">Dropdown </button>
                <div class="dropdown-menu"><a class="dropdown-item" href="#">Language 1</a><a class="dropdown-item" href="#">Language 2</a><a class="dropdown-item" href="#">Language 3</a></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 style="text-align: center;font-size: 26px;">Skill level guidelines:</h1>
            <div class="row">
                <div class="col">
                    <p style="text-align: center;">Level 0 - Your knowledge of the language is nonexistent or limited to only a few words.<br>Level 1 - You can structure basic sentences and use some common questions and answers.<br>Level 2 - You are able to have limited conversations and understand basic commands.<br>Level 3 - You understand the language well enough to have detailed conversations but may still have difficulty speaking it out loud or using advanced terminology.<br>Level 4 - You can have full conversations at an advanced level and have a firm understanding of the language. You may still have occasional misunderstandings and make mistakes especially when speaking it out loud.<br>Level 5 - You are fluent in the language. You were either raised speaking the language or have spoken it long enough to become completely proficient and have advanced conversations with very few mistakes or misunderstandings.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: right;"><label class="col-form-label">Select a skill level:&nbsp;</label></div>
        <div class="col" style="text-align: left;">
            <div class="dropdown" style="text-align: left;"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">Dropdown </button>
                <div class="dropdown-menu"><a class="dropdown-item" href="#">Level 0</a><a class="dropdown-item" href="#">Level 1</a><a class="dropdown-item" href="#">Level 2</a><a class="dropdown-item" href="#">Level 3</a><a class="dropdown-item" href="#">Level 4</a><a class="dropdown-item" href="#">Level 5</a></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center;">
            <p>Once you click the button to request a call you will be placed in a queue and redirected to a loading screen while you wait to be matched up with another user.</p>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center;"><button class="btn btn-primary" type="button">Request video call</button></div>
    </div>
</div>
{% endblock%}