{% extends 'base.html' %}
{% block bodyStyle %}{% endblock %}

{% block nav_item_home %}active{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1>Welcome to Telingo!</h1>
            <hr/>
            <div class="row">
                <div class="col">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center;font-size: 4px;">
            <h3>What is Telingo?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Telingo helps second language learners practice speaking their desired language. Telingo allows users to select a language and a skill level and be placed into a video call with another person who is also trying to learn the same language at around the same skill level so that both users can practice speaking to each other. Telingo also provides users a list of conversation topics, a multilingual dictionary, and a text chat to assist the users if needed.</p><a href="https://docs.google.com/document/d/1ZLomi_pMYZSM3aIUYOltynHPI3ZVNE_e0wzh0FLemMU/edit?usp=sharing">User guide can be found here</a>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center;">
            {% if session['username'] %}
                <form action={{url_for('msg.landing')}}>
                    <button class="btn btn-primary" type="submit">Get Started</button>
                </form>
            {% else %}
                <form action={{url_for('auth.login')}}>
                    <button class="btn btn-primary" type="submit">Get Started</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock%}
