{% extends 'base.html' %}
{% block bodyStyle %}{% endblock %}

{% block nav_item_home %}active{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{user.username}}'s profile</h1>
            </div>
            <div class="col" style="text-align: right;">
		<form action={{url_for('home.profile',username=user.username)}}/edit>
			<button class="btn btn-primary" type="submit" style="text-align: right;">Edit</button></div>
		</form>
        </div>
        <div class="row">
            <div class="col" style="text-align: center;">
                <p>Native Language: {{ user.native_lang }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="text-align: center;">Secondary Languages: 
                {% for language in user.languages %}
                   {{ language.language }},
                {% endfor %}
		</p>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
{% endblock%}